[Unit]
Description=command center nmap task-manager service
After=network.target

[Service]
Restart=always
RestartSec=1
User=ccscanner
ExecStart=/usr/bin/cc-nmap-taskmanager --config=/etc/ccscanner/config.json

[Install]
WantedBy=multi-user.target

