[Unit]
Description=command center scanner task-manager service
After=network.target

[Service]
Restart=always
RestartSec=1
User=ccscanner
ExecStart=/usr/bin/cctaskmanager --config=/etc/ccscanner/config.json

[Install]
WantedBy=multi-user.target

